{% extends 'layout.html.twig' %}

{% block content %}
<div class="container-fluid">

    <div class="row" >
        <h1>{{ styleName[0]['name'] }}</h1>
    </div>

    {% include 'component/_selectStyle.html.twig' %}

    {% if (videos | length) > 0 %}
        <h4>{{ videos | length }} songs trouvées</h4>
    {% else %}
        <h4> Aucun résultat </h4>
    {% endif %}

    <div class="row">
        {% for video in videos %}
            <div class="col-3 video-row">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="200" height="200" src="https://www.youtube.com/embed/{{ video.youtube_id }}" id="video {{ video.id }}"> </iframe>
                </div>
            </div>
        {% endfor %}
    </div>

    {% endblock %}

    {% block javascript %}
    <script src="/assets/javascript/styleSelection.js"></script>
{% endblock %}