{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid">

        <div class="row" >
            <h1>Videos</h1>
        </div>

        {% include 'component/_selectStyle.html.twig' %}


        <div class="row">
            {% for video in videos %}
                <div class="col-3 video-row">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.youtube_id }}" id="video {{ video.id }}" allowfullscreen> </iframe>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

    {% block javascript %}
    <script src="/assets/javascript/styleSelection.js"></script>
    {% endblock %}
{% endblock %}

