body {
background-color: var(--primary-color-black) ;
    color:var(--text-color);
}

h1 {
    color:var(--text-color);
    margin-top : var(--mg-h1-top);
}



.djhome {
    font-family: 'Roboto', sans-serif;
    text-shadow: var(--primary-color-red) 0px 0px 1px,
    var(--primary-color-red) 0px 0px 5px,
    var(--primary-color-red) 0px 0px 10px;
}

.dj-stat {
    font-family: 'Roboto', sans-serif;
    text-shadow: var(--primary-color-blue) 0px 0px 1px,
    var(--primary-color-blue) 0px 0px 5px,
    var(--primary-color-blue) 0px 0px 10px;
}

.row {
    margin-top: 8px;
}

.card{
    background-color: var(--primary-color-black);
}

.card-fighters{
    height: 200px;
    width: auto;
    background: none;
    position: relative;
}

.fighters-name{
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.15em;
    text-shadow: var(--primary-color-red) 0px 0px 1px,
    var(--primary-color-red) 0px 0px 5px,
    var(--primary-color-red) 0px 0px 10px;
    position: absolute;
    top: 1px;
    background: none;
}

.netflix-number{
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    text-shadow: var(--primary-color-blue) 0px 0px 1px,
    var(--primary-color-blue) 0px 0px 5px,
    var(--primary-color-blue) 0px 0px 10px;
    position: absolute;
    bottom: 0;
    margin: -1px;
    left: -1px;
}

.blue-neon{
    font-size: large;
    font-family: 'Roboto', sans-serif;
    text-shadow: var(--primary-color-blue) 0px 0px 1px,
    var(--primary-color-blue) 0px 0px 5px,
    var(--primary-color-blue) 0px 0px 10px;
    position: absolute;
    bottom: 1px;
    background: none;
}

.modal-header, .modal-body, .modal-footer{
    background-color: var(--primary-color-black) ;
    border: var(--primary-color-black);
}

