body {
background-color: var(--primary-color-black) ;
    color:var(--text-color);
}

h1 {
    color:var(--text-color);
    margin-top : var(--mg-h1-top);
}

.row {
    margin-top: 8px;
}

.card{
    background-color: var(--primary-color-black);
}

.card-fighters{
    border-width: thin;
    border-color: var(--primary-color-blue);
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    height: 270px;
    width: 205px;
}


.netflix-number{
    font-size: 130px;
    font-family: 'Train One', cursive;
    letter-spacing: 0.15em;
    text-shadow: var(--primary-color-blue) 0px 0px 1px,
    var(--primary-color-blue) 0px 0px 5px,
    var(--primary-color-blue) 0px 0px 10px;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.modal-header, .modal-body, .modal-footer {
    background-color: var(--primary-color-black) ;
    border: var(--primary-color-black);
}

