body {
background-color: var(--primary-color-black) ;
    color:var(--text-color);
}

h1 {
    color:var(--text-color);
    margin-top : var(--mg-h1-top);
}

.djhome {
    font-family: 'Roboto', sans-serif;
    text-shadow: var(--primary-color-red) 0px 0px 1px,
    var(--primary-color-red) 0px 0px 5px,
    var(--primary-color-red) 0px 0px 10px;
}

.dj-stat {
    font-family: 'Roboto', sans-serif;
    text-shadow: var(--primary-color-blue) 0px 0px 1px,
    var(--primary-color-blue) 0px 0px 5px,
    var(--primary-color-blue) 0px 0px 10px;
}

.row {
    margin-top: 8px;
}

<<<<<<< HEAD
.line{
    flex-direction: row;
}

.line:before,
.line:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid var(--primary-color-red);
    margin: auto;
}

.bg-line{
    background-color: var(--second-background-color);
}

.card {
    background-color: var(--primary-color-black);
}

.card-fighters {
    height: 200px;
    width: auto;
    background: none;
    position: relative;
}

.fighters-name {
    position: absolute;
    top: 1px;
    background: none;
}

.badge{
    box-shadow: var(--primary-color-blue) 0 0 10px;
}

.netflix-number {
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.15em;
    text-shadow: var(--primary-color-blue) 0px 0px 1px,
    var(--primary-color-blue) 0px 0px 5px,
    var(--primary-color-blue) 0px 0px 10px;
    position: absolute;
    bottom: 0;
    margin: -1px;
    left: -1px;
}

.modal-header, .modal-body, .modal-footer{
    background-color: var(--primary-color-black) ;
    border: var(--primary-color-black);
}

.btn{
    font-family: 'Roboto', sans-serif;
    box-shadow: var(--primary-color-blue)0px 0px 10px;
    margin-top: 5px;
}

