* {
    /*Color : :*/
    --primary-color-red: #D81F25;
    --primary-color-blue: #00AEFF;
    --primary-color-black: #0A0A0A;
    --text-color: #FFFFFF;


    /*Margin : :*/
    --mg-between-vid-lines: 25px;
    --mg-h1-top: 10px;
}