{% extends'layout.html.twig' %}

{% block content %}
    <form action="" method="post">
        <input type="text" name="user_id" placeholder="user_id">
        <span class="alert-danger"> {{  errors.user_id }} </span>
        <input type="text" name="title" placeholder="title">
        <span class="alert-danger"> {{  errors.title }} </span>
        <input type="url" name="youtube_id" placeholder="youtube_id">
        <span class="alert-danger">{{  errors.youtube_id }} </span>
        <button>Submit your song</button>
    </form>
{% endblock %}