<div class="row">
    <div class="col-sm-12 text-center">
        <a>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addBadge">Add a Badge</button>
        </a>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addBadge" tabindex="-1" role="dialog" aria-labelledby="addBadgeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBadgeLabel">Ajouter un Badge</h5>
                <button type="button" class="close bg-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/admin/addBadge">
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Nom</span>
                        </div>
                        <input type="text" name="name" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required maxlength="100">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Image</span>
                        </div>
                        <input type="text" name="picture_url" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required maxlength="255">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
                        </div>
                        <input type="text" name="description" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required maxlength="255">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>