<button type="button" class="btn btn-danger col-4" data-toggle="modal" data-target="#exampleModalCenter">
        Ajouter une chanson
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" id="exampleModalLongTitle">Ajouter une chanson</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/DJSet/addSong">
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Lien Youtube</span>
                    </div>
                    <input type="text" name="youtube_id" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
                </div>
                <h4> Choix du style (optionnel) </h4>
                {% for style in styles %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{ style.id }}" name="style[]" id="defaultCheck1">
                    <label class="form-check-label"  for="defaultCheck1">
                        {{ style.name }}
                    </label>
                </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>