<footer>

    <div class="d-flex justify-content-around footer">
                <div>© 2021 Track of the month <button type="button" class="btn btn-secondary btn-sm" disabled> Français</button></div>

                <div>Des questions ? Contactez-nous sur Github</div>

                <div>Our team
    <span class="badge rounded-pill">
                <img src="https://avatars.githubusercontent.com/sara33-dev" class="rounded-circle" alt="team1Image">
                <img src="https://avatars.githubusercontent.com/Alexisvib" class="rounded-circle" alt="team2Image">
                <img src="https://avatars.githubusercontent.com/sophiewright31" class="rounded-circle" alt="team3Image">
                <img src="https://avatars.githubusercontent.com/TontonduWeb" class="rounded-circle" alt="team4Image">
    </span>Track of the month France
                </div>
    </div>

</footer>
