<footer>
        <div class="rules d-flex align-items-center ">
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Les règles du jeu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Nous y sommes ! Tu es prêt à entrer dans la cour des grands. Le game est simple.
                                Si tu penses que tes titres préférés peuvent rivaliser avec les poids lourds du hit parade.
                                Si ce n'est pas déjà fait, inscris toi. Puis, ajoutes sans plus tarder un lien YouTube,
                                et saute dans le grand bain.
                                Si tu séduis avec tes titres ajoutés, tu recevras un maximum de support.
                                Si à ton tour tu souhaites supporter un titre postés par un autre DJ.
                                Appuies à l'infini sur l'éclair et donne lui un max de power.
                                A la fin du mois, nous verrons qui sera sur le poduim et décrocher le Badge Suprème.
                                N'attends plus pour entrer dans la battle ! Viens nous rejoindre.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="d-flex justify-content-around footer">

                <i data-toggle="modal" data-target="#exampleModal" class="information fas fa-info-circle"></i>

                <div>© 2021 Track of the month <button type="button" class="btn btn-secondary btn-sm" disabled> Français</button></div>

                <div><a href="https://github.com/WildCodeSchool/2021-march-bordeaux-track/issues">Des questions ? Contactez-nous sur Github</a></div>

                <div>Our team
    <span class="badge rounded-pill">
                <img src="https://avatars.githubusercontent.com/sara33-dev" class="rounded-circle" alt="team1Image">
                <img src="https://avatars.githubusercontent.com/Alexisvib" class="rounded-circle" alt="team2Image">
                <img src="https://avatars.githubusercontent.com/sophiewright31" class="rounded-circle" alt="team3Image">
                <img src="https://avatars.githubusercontent.com/TontonduWeb" class="rounded-circle" alt="team4Image">
    </span>
                </div>
    </div>

</footer>
