<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/"><img src="/assets/images/logo.png" class="img-fluid" alt="Responsive image"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" >
            <li class="nav-item dropdown">
                <a class="nav-link" href="/">Battle <i class="fas fa-headphones"></i></i></i><span class="sr-only">(current)</span></a>
                <div></div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/DJSet/index">DJ Set <i class="fas fa-compact-disc"></i></a>
                <div></div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/Connect/all">Fighters <i class="fas fa-crown"></i></a>
                <div></div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/Connect/sign" > Connexion <i class="far fa-user"></i></a>

            </li>
        </ul>
    </div>
</nav>