<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/"><img src="/assets/images/logo.png" class="img-fluid" alt="Responsive image"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll d-flex justify-content-start justify-content-around" >
            <li class="nav-item dropdown">
                <a class="nav-link" href="/DJSet/index">DJ Set </i></a>
                <div></div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/Connect/all">Fighters </i></a>
                <div></div>
            </li>
            {% if session.role == 'admin' %}
            <li class="nav-item dropdown">
                <a class="nav-link" href="/admin/index" > Admin </i></a>
            </li>
            {% endif %}

            {% if session is empty %}
            <li class="nav-item dropdown">
                <a class="nav-link" href="/Connect/signIn" > Inscription</a>
            </li>
            {% else %}
        </ul>
            <div class="'d-flex justify-content-end">
                <strong class="modal-title mr-3">ON AIR</strong>
                <div class="dropdown d-inline">
                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="avatar-github" src="https://avatars.githubusercontent.com/{{ session.github }}">
                        </button>
                        <div class="dropdown-menu mt-4" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/Connect/disconnect">Disconnect</a>
                        </div>
                </div>
            </div>
            {% endif %}

    </div>
</nav>