<div class="row" >
    <div class="col-5 input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Style</label>
        </div>
        <select class="custom-select" id="stylefilter">
            <option selected>Liste des Styles</option>
            {% for style in styles %}
                <option name="{{ style.name}}" value="{{ style.identifier}}">{{ style.name}}</option>
            {% endfor %}
        </select>
    </div>
</div>