{% extends 'layout.html.twig' %}

{%  block content %}

    {{ dump(power) }}
    <h3><i class="fas fa-fire"></i> Give some strength <i class="fas fa-fire"></i></h3>
    <a href="/Force/boutonId/4" target="_self"><button type="button" class="btn btn-primary btn-lg">Large button</button></a>

{% endblock %}
